html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #171414;
}

.image-grid {
  padding: 50px;
}

.image-row {
  display: flex;
}

.image-row .image {
  margin: 12px;
  height: 240px;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3),
    0 6px 20px rgba(0, 0, 0, 0.15),
    0 6px 20px rgba(0, 0, 0, 0.7);
}

.image-01 {
  background-image: url('../../../../public/WorkPics/1.jpeg');
  flex: 1;
}

.image-02 {
  background-image: url('../../../../public/WorkPics/2.jpeg');
  flex: 1;
}

.image-03 {
  background-image: url('../../../../public/WorkPics/5.jpeg');
  flex: 2;
}

.image-04 {
  background-image: url('../../../../public/WorkPics/6.jpeg');
  flex: 1;
}

.image-05 {
  background-image: url('../../../../public/WorkPics/7.jpeg');
  flex: 2;
}

.image-06 {
  background-image: url('../../../../public/WorkPics/8.jpeg');
  flex: 2;
}

.image-07 {
  background-image: url('../../../../public/WorkPics/9.jpeg');
  flex: 1;
}

.image-08 {
  background-image: url('../../../../public/WorkPics/10.jpeg');
  flex: 3;
}

.image-09 {
  background-image: url('../../../../public/WorkPics/11.jpeg');
  flex: 1;
}

.image-10 {
  background-image: url('../../../../public/WorkPics/12.jpeg');
  flex: 1;
}

.image-11 {
  background-image: url('../../../../public/WorkPics/13.jpeg');
  flex: 1;
}

.image-12 {
  background-image: url('../../../../public/WorkPics/14.jpeg');
  flex: 1;
}

@media screen and (max-width: 400px) {
  .image-row {
    flex-direction: column;
  }

  .image-row .image {
    flex-basis: auto;
  }
}

@media (max-width: 767px) {
  .image-grid {
    overflow: auto;
    max-height: calc(50vh - -100px);
    padding: 50px;
  }
}

.light-background {
  --background-color: #f1f4fa;
  --surface-color: #ffffff;
}

section,
.section {
  color: #ffffff;
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 76px;
  }
}

.section-title {
  padding-bottom: 60px;
  position: relative;
}


.stats .stats-item {
  background-color: var(--surface-color);
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  color: #171414;
}

.stats .stats-item i {
  color: #ffbd59;
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
}

.stats .stats-item span {
  color: #273d4e;
  font-size: 36px;
  display: block;
  font-weight: 600;
}

.stats .stats-item p {
  padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 16px;
}