:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Inter", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
    --background-color: #ffffff;
    /* Background color for the entire website, including individual sections */
    --default-color: #444444;
    /* Default color used for the majority of the text content across the entire website */
    --heading-color: #273d4e;
    /* Color for headings, subheadings and title throughout the website */
    --accent-color: #ffbd59;
    /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff;
    /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff;
    /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: #e5eaee;
    /* The default color of the main navmenu links */
    --nav-hover-color: #ffbd59;
    /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff;
    /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff;
    /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #444444;
    /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #ffbd59;
    /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}



.services .img {
    border-radius: 8px;
    overflow: hidden;
}

.services .img img {
    transition: 0.6s;
}

.services .details {
    background: color-mix(in srgb, #ffffff, transparent 5%);
    padding: 50px 30px;
    margin: -100px 30px 0 30px;
    transition: all ease-in-out 0.3s;
    position: relative;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.1);
}

.services .details .icon {
    margin: 0;
    width: 72px;
    height: 72px;
    background: #ffbd59;
    color: #ffffff;
    border: 6px solid #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 28px;
    transition: ease-in-out 0.3s;
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
}

.services .details h3 {
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
    transition: ease-in-out 0.3s;
}

.services .details p {
    color: color-mix(in srgb, #444444, transparent 10%);
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .service-item:hover .details h3 {
    color: #ffbd59;
}

.services .service-item:hover .details .icon {
    background: #ffffff;
    border: 2px solid #ffbd59;
}

.services .service-item:hover .details .icon i {
    color: #ffbd59;
}

.services .service-item:hover .img img {
    transform: scale(1.2);
}
a{
    text-decoration: none;
    color: #273d4e;
}