body {
    background-image: url('https://dl.dropbox.com/scl/fi/0erke2ysh2wysjq6g6n11/sebastian-svenson-LpbyDENbQQg-unsplash.jpg?rlkey=b1hd0g65ynfidd2m6tlx7fdm5&dl=0');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@font-face {
    font-family: 'satoshi';
    src: url('https://dl.dropbox.com/scl/fi/cw88jfat68bv2786p2h2w/Satoshi-Regular.woff?rlkey=om4imghk314fc5ioiusz5qo6s&dl=0') format('woff'),
}

* {
    color: rgb(11, 12, 12);
    line-height: 1.0;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'satoshi';
    z-index: 9999;
}

*::-webkit-scrollbar {
    display: none;
}

.drawer-open {
    width: 50px;
    height: 75px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

h1 {
    margin-top: 35px;
}

.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
    content: '';
    height: 2.5px;
    width: 25px;
    background-color: currentColor;
    transition: 400ms 350ms;
    position: absolute;
    background: -webkit-linear-gradient(#ffdd34, #010101);
}

.drawer-open span:before {
    bottom: 8px;
}

.drawer-open span:after {
    top: 8px;
}

#drawer-input:checked~.drawer-open span {
    width: 0px;
    transition: 100ms;
}

#drawer-input:checked~.drawer-open span::before {
    bottom: 0;
    transition: all 400ms 100ms cubic-bezier(.10, .0, .85, .0);
    transform: rotate(45deg);
}

#drawer-input:checked~.drawer-open span::after {
    top: 0;
    transition: all 400ms 100ms cubic-bezier(.10, .0, .85, .0);
    transform: rotate(-45deg);
}

#drawer-input:checked~.nav-content {
    transition: all 500ms cubic-bezier(.10, .0, .80, .0);
    height: calc(50vh - 30px);
    z-index: 999;
}

#drawer-input:checked~.nav-content .items {
    opacity: 1;
    transition: 1500ms 600ms;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 75px;
    width: calc(100% - 60px);
    margin: 0px 15px 0 30px;
}

.items {
    width: 100%;
    min-width: 300px;
    margin: 0 15px 0;
}

.item {
    list-style: none;
    border-bottom: solid 2px currentColor;
}

.item:first-child {
    border-top: solid 2px currentColor;
}

.item a {
    // cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.item a p {
    transition: 150ms;
}

.item:hover a p {
    color: rgb(215, 215, 198);
}

#IList {
    cursor: pointer;
}

.nav-content {
    position: fixed;
    height: 75px;
    width: calc(100vw - 30px);
    left: 0;
    top: 0;
    margin: 15px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px 0 rgba(3, 3, 3, 0.3);
    min-width: 300px;
    border-radius: 38px;
    transition: 400ms 350ms;
    z-index: -1;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content .items {
    opacity: 0;
    transition: 350ms;
    margin-top: 75px;
    padding-inline-start: 0px;
    background-color: rgba(0, 0, 0, 0.0);
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

h1 {
  font-size: 43px;
  background: -webkit-linear-gradient(#ffdd34, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: roboto;
}

.navname{
    color: #ffff;
}